.navContainer {
    width: 80%;
    padding: 15px 0;
    margin: 0 auto;
}
* {
    font-family: "Open Sans", sans-serif;
}
#about {
    background-color: #f5f5f5;
}
nav {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
}
.navContainer ul li {
    display: inline;
    margin: 0 10px;
    text-transform: uppercase;
    
}
.navContainer ul li a {
    color: #000;
    vertical-align: -10px;
    font-weight: 500;
    font-size: 14px;
}
.topBanner {
    width: 80%;
    margin: 0 auto;
    padding: 10%;
}
.topBanner .titleContainer {
    margin: 0 auto;
    display: block;
    width: 80%;
    text-align: center;
    font-size: 36px;
    font-weight: 600;
}
.topBanner .titleContainer span {
    color:#f5a09ae1;
    border-bottom: 3px solid #f5a09ae1;
}
.homeGallerySection {
    width: 80%;
    margin: 0 auto;
}
.homeGallerySection img {
    width: 100%;
    height: 250px;
    box-sizing: border-box;
}
.homeGallerySection .col-md-3 {
    padding: 5px;
}
.tabsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.homeGallerySection li {
    display: inline;
    margin: 0 10px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
}
.homeGallerySection li:hover {
    cursor: pointer;
    color: #f5a09ae1
}
.homeGallerySection li.active {
    color: #f5a09ae1
}
.brandBanner {
    width: 100%;
    background-color: #20b99b;
    color: #fff;
    padding: 3% 0;
    margin: 60px 0;
}
.brandContainer {
    width: 80%;
    margin: 0 auto;
}
.brandContainer h2 {
    text-transform: uppercase;
    font-size: 22px;
}
.brandContainer h1 {
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 700;
}
.brandContainer button {
    padding: 15px 30px;
    border: 2px solid #fff;
    background-color: transparent;
    font-weight: 600;
    color: #fff;
}
.brandContainer button:hover {
    background-color: #fff;
    cursor: pointer;
    color: #000;
}
.teamSection {
    width: 80%;
    margin:  60px auto;
}
.teamSection .col-md-4 {
    min-height: 300px;
}
.teamSection  img {
    height: auto;
    width: 100%;
}
.teamSection p {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    margin: 10px 0;
}
footer {
    width: 100%;
    padding: 5% 0;
    background-color: #8a8a8a;
}
footer .footerLinks {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: space-around;
}
.footerLinks ul {
    padding: 0;
}
footer ul li {
    display: inline;
    margin-right: 20px;
}
footer ul li a {
    color: #fff;
}
footer p {
    text-align: right;
    color: #fff;
}
.topBannerContainer {
    height: 50vh;
    width: 100%;
    background-image: url(../img/aboutBanner.jpg);
    background-size: cover;
    background-position-y: 30%;
}
.topBannerContainer h1 {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
}
.aboutContainer {
    width: 100%;
    padding: 5% 10%;
    box-shadow: 0 1px 8px 0 rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12);
    background-color: #fff;
}
.aboutServiceContainer  {
    padding: 60px 10%;
    background-color: #fff;
}
.aboutServiceContainer h1 {
    text-align: center;
    font-size: 42px;
    font-weight: 100;
    margin: 30px 0 60px 0;
}
.aboutServiceContainer i {
    font-size: 47px;
}
.aboutServiceContainer h2 {
    font-size: 22px;
    font-weight: 400;
    margin: 10px 0;
}
.aboutServiceContainer p {
    font-size: 14px;
    color: #999;
    font-weight: 100;
}
.aboutBanner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5% 0;
    background-color: #20b99b;
    color: #fff;
}
.aboutBanner h1 {
    font-size: 32px;
    font-weight: 100;
}
.aboutBanner a {
    padding: 8px 20px;
    border: 2px solid #fff;
    color: #fff;
    font-size: 12px;
    margin-left: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.aboutBanner a:hover {
    text-decoration: none;
    background-color: #fff;
    color: #000;
}
.aboutContainer h1 {
    text-align: center;
    margin: 20px 0;
    font-weight: 100;
}
.aboutContainer h3 {
    text-align: center;
    font-weight: 100;
    margin: 40px 0 20px 0;
}
.aboutContainer p{
    text-align: center; 
}
.aboutContainer img{ background-size:cover; }
#about nav a {
    color: #fff;
}
.aboutContainer img {
    margin: 20px 0;
    width: 100%;
    height: auto;
}
.galleryHeader {
    height: 100vh;
    width: 100%;
    background-image: url(../img/gallery2.jpg);
    background-position-y: -10%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15%;
}
.galleryTitle {
    position: relative;
    bottom: 100px;
}
.galleryHeader .galleryTitle h1 {
    font-weight: 700;
    font-size: 120px;
    line-height: 120px;
}
.galleryTitle p {
    font-size: 32px;
    font-weight: 100;
}
.galleryTitle a {
    padding: 8px 16px;
    background-color: #20b99b;
    color: #fff;
    border: 1px solid transparent;
    margin-right: 20px;
}
.galleryTitle a:hover {
    color: #20b99b;
    background-color: transparent;
    border: 1px solid #20b99b;
    text-decoration: none;
}
.galleryContent {
    width: 100%;
    min-height: 200px;
}
.galleryContent .galleryRow {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}
.galleryContent .imageBox {
    flex-grow: 1;
    flex-basis: 25%;
    background-size: cover;
    height: 300px;
    transition: .4s;
}
.galleryContent .imageBox:hover {
    filter: brightness(120%);
}
.blogTopBanner {
    height: 40vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/blog1.jpg);
}
.blogTopBanner h1 {
    color: #fff;
    font-size: 67px;
}
.blogContent {
    padding: 5% 10%;
}
.blogBlock {
    width: 100%;
    margin: 20px 0;
}
.blogBlock img {
    width: 100%;
    height: auto;
}
.blogBlock h1 {
    margin: 20px 0 10px 0;
    font-size: 32px;
    font-weight: 600;
}
.blogBlock span {
    font-weight: 100;
    color: #999;
    font-size: 14px;
}
.blogBlock p {
    font-weight: 200;
    color: #444;
    font-size: 16px;
}
.blogBlock .read {
    padding: 8px 20px;
    color: #000;
    border: 2px solid #000;
    font-weight: 600;
    margin-top: 20px;
    display: inline-block;
}
.blogBlock .read:hover {
    background-color: #000;
    color: #fff;
    text-decoration: none;
}