.navContainer {
    width: 80%;
    padding: 15px 0;
    margin: 0 auto;
}
* {
    font-family: "Open Sans", sans-serif;
}
nav {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
}
.navContainer ul li {
    display: inline;
    margin: 0 10px;
    text-transform: uppercase;
    
}
.navContainer ul li a {
    color: #000;
    vertical-align: -10px;
    font-weight: 500;
    font-size: 14px;
}
.topBanner {
    width: 80%;
    margin: 0 auto;
    padding: 10%;
}
.topBanner .titleContainer {
    margin: 0 auto;
    display: block;
    width: 80%;
    text-align: center;
    font-size: 36px;
    font-weight: 600;
}
.topBanner .titleContainer span {
    color: #72c02c;
    border-bottom: 3px solid #72c02c;
}
.homeGallerySection {
    width: 80%;
    margin: 0 auto;
}
.homeGallerySection img {
    width: 100%;
    height: auto;
    box-sizing: border-box;
}
.homeGallerySection .col-md-3 {
    padding: 5px;
}
.homeGallerySection ul {
    width: 50%;
    margin: 0px auto 50px auto;
}
.homeGallerySection li {
    display: inline;
    margin: 0 10px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
}
.homeGallerySection li:hover {
    cursor: pointer;
    color: #72c02c
}
.homeGallerySection li.active {
    color: #72c02c
}
.brandBanner {
    width: 100%;
    background-color: #72c02c;
    color: #fff;
    padding: 3% 0;
    margin: 60px 0;
}
.brandContainer {
    width: 80%;
    margin: 0 auto;
}
.brandContainer h2 {
    text-transform: uppercase;
    font-size: 22px;
}
.brandContainer h1 {
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 700;
}
.brandContainer button {
    padding: 15px 30px;
    border-radius: 25px;
    border: none;
    transition: .4s;
}
.brandContainer button:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}
.teamSection {
    width: 80%;
    margin:  60px auto;
}
.teamSection .col-md-4 {
    min-height: 300px;
}
.teamSection  img {
    height: auto;
    width: 100%;
}
.teamSection p {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    margin: 10px 0;
}
footer {
    width: 100%;
    padding: 5% 0;
    background-color: #72c02c;
}
footer .footerLinks {
    width: 80%;
    margin: 0 auto;
}
footer ul li {
    display: inline;
    margin:  0 20px;
}
footer ul li a {
    color: #fff;
}